@import "./vendor/bootstrap/scss/functions";
@import "./vendor/bootstrap/scss/mixins";
@import "./vendor/bootstrap/scss/variables";

$theme-colors: ("primary": #ff6347,"container mt-4 > jumbotron": #ffe5d1);
$btn-border-radius: 10 rem;
$font-family-base: "Electrolize", sans-serif;

@import "./vendor/bootstrap/scss/bootstrap";